/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* typo */
body{font:16px/1.5 'Nobile','Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,legend{margin-bottom:20px}


html {
	background: url(../img/world.png) no-repeat 130px -150px fixed, url(../img/bg.png) fixed;
	color: #d7f9ff;
	padding-top: 40px;
	text-shadow: 0px 1px #020735;
}
a {
	color: #00c0f0;
}

h1 {
	text-indent: -9999px;
	display: block;
	margin-left: 40px;
	width: 880px;
	height: 120px;
	background: url(../img/logo.png) no-repeat;
}

#stage {
	background: rgba(0, 0, 0, 0.333) url(../img/world2.png) no-repeat 130px -150px fixed;
	border-top: 1px solid #00c0f0;
	min-height: 750px;
	clear: both;
	overflow: hidden;
}

footer {
	background: rgba(0, 0, 0, 0.333);
	text-align: right;
	padding: 40px;
}
footer a {
	color: #fff;
}
footer a:hover {
	color: red;
}


.node {
	margin-top: -1px;
	float: left;
	border-top: 0;
	width: 480px;
	padding: 40px 0;
	border: 1px dashed transparent;
	margin-left: -1px;
}
.node:hover {
	border-color: #00c0f0;
}
.node > svg {
	display: block;
	margin: 0 auto;
}
.node h3 {
	font-size: 26px;
	height: 60px;
	padding: 0 80px;
	color: #fff;
	text-shadow: 0 1px #000;
	text-align: center;
	text-transform: uppercase;
}
.node .results {
	display: block;
	list-style: none;
	width: 350px;
	padding-top: 10px;
	margin: 0 auto;
}
.node .results li {
	margin: 0;
	display: block;
	clear: both;
	overflow: hidden;
	height: 40px;
	border-bottom: 1px dashed #287FA5;
	margin-bottom: 3px;
}
.node .results li:nth-last-child(2) {
	border-style: solid;
}
.node .results li .label {
	float: left;
	padding-top: 6px;
}
.node .results li .count {
	font-weight: bold;
	padding-right: 3px;
	font-size: 23px;
	color: #00c0f0;
	width: 80px;
	text-align: right;
	float: right;
}
.node .results .total {
	border: 0;
	font-weight: bold;
	text-transform: uppercase;
}
.node .results .total .label {
	color: #00c0f0;
}
body path {
	fill: rgba(0, 0, 0, 0.1);
	stroke: #00c0f0;
	cursor: pointer;
}

body path:hover {
	stroke: #fff;
	fill: rgba(255, 255, 255, 0.1);
}



/* animation */
.node,
footer a,
body path {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}