/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}:focus{outline:0}ins{text-decoration:none}del{text-decoration:line-through}table{border-collapse:collapse;border-spacing:0}

/* typo */
body{font:16px/1.5 'Nobile','Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif}a:focus{outline:1px dotted}hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}h1{font-size:25px}h2{font-size:23px}h3{font-size:21px}h4{font-size:19px}h5{font-size:17px}h6{font-size:15px}ol{list-style:decimal}ul{list-style:disc}li{margin-left:30px}p,dl,hr,h1,h2,h3,h4,h5,h6,ol,ul,pre,table,address,fieldset,legend{margin-bottom:20px}


html {
	background: url(../img/world.png) no-repeat 24% -30px fixed, url(../img/bg.png) fixed;
	color: #d7f9ff;
	padding-top: 40px;
	text-shadow: 0px 1px #020735;
	min-width: 963px;
}
a {
	color: #00c0f0;
}

h1 {
	text-indent: -9999px;
	display: block;
	margin-left: 80px;
	width: 880px;
	height: 120px;
	background: url(../img/logo.png) no-repeat;
}

#stage {
	background: rgba(0, 0, 0, 0.333) url(../img/world2.png) no-repeat 24% -30px fixed;
	border-top: 1px solid #00c0f0;
	min-height: 2500px;
}
.nodes {
	position: relative;
	max-width: 1600px;
	clear: both;
	overflow: hidden;
	opacity: 0;
	top: -40px;
}
.nodes.add {
	opacity: 1;
	top: 0;
}
.nodes.remove {
	opacity: 0;
	top: 70px;
}
#notifications {
	display: block;
	width: 100%;
	padding: 10px 68px 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.6);
	border-bottom: 1px solid rgba(0, 0, 0, 0.8);
	position: fixed;
	height: auto;
	top: 0;
	opacity: 0;
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
}
#notifications.add {
	opacity: 1;
	
}
#notifications p {
	margin-bottom: 10px;
}
.filter_list {
	margin: 0;
	width: 90%;
	clear: both;
	overflow: hidden;
}
.filter_list dt,
.filter_list dd {
	float: left;
	padding: 0 10px;
	margin-bottom: 10px;
}
.filter_list dt {
	padding-left: 30px;
	font-weight: bold;
}
.filter_list dt:after {
	content: ':';
}
.filter_list dt:first-child {
	padding-left: 0;
}
.filter_list dd {
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	cursor: pointer;
	margin-right: 5px;
	background:	rgba(0, 192, 240, 0.4);
}
.filter_list dd:hover {
	background:	rgba(0, 192, 240, 0.8);
}
.filter_list dd:hover:after {
	content: ' ×';
	font-size: 16px;
	color: black;
	position: relative;
	text-shadow: none;
	top: -2px;
	right: -4px;
}
footer {
	background: rgba(0, 0, 0, 0.333);
	padding: 50px 70px 20px 50px;
	clear: both;
	overflow: hidden;
}
footer p {
	display: block;
	height: 30px;
	text-align: center;
}
footer a {
	color: #d7f9ff;
	text-decoration: none;
}
footer a:hover {
	color: #00c0f0;
	text-decoration: underline;
}
footer .footnote {
	padding-left: 40px;
	text-align: left;
	background: url(../img/footnote.png) no-repeat left -6px;
	border-bottom: 1px dashed transparent;
}
footer:hover .footnote {
	border-color: #00c0f0;
}

.node {
	margin-top: -1px;
	float: left;
	border-top: 0;
	width: 480px;
	padding: 40px 0;
	border: 1px dashed transparent;
	margin-left: -1px;
}
.node:hover {
	border-color: #00c0f0;
}
.node.piechart_multiple {
	background: url(../img/footnote.png) no-repeat 388px 43px;
}
.node > svg {
	display: block;
	margin: 0 auto;
}
.node h3 {
	font-size: 26px;
	height: 30px;
	padding: 0 80px;
	color: #fff;
	text-shadow: 0 2px #000;
	text-align: center;
	text-transform: uppercase;
}
.node .results {
	display: block;
	list-style: none;
	width: 350px;
	padding-top: 10px;
	margin: 0 auto;
}
.node .results li {
	margin: 0;
	display: block;
	clear: both;
	overflow: hidden;
	height: 40px;
	border-top: 1px dashed #287FA5;
	padding: 3px 4px 0 4px;
	cursor: pointer;
	background: rgba(40, 127, 165, 0);
}
.node .results li.filter {
	background: rgba(255, 0, 0, 0.1);
}
.node .results li:hover,
.node .results li.hover {
	background: rgba(40, 127, 165, 0.5);
}
.node .results li:first-child {
	border: 0;
}
.node .results li.total:hover {
	background: rgba(255, 255, 255, 0.1);
}
.node .results li:hover,
.node .results li:hover + li,
.node .results li.hover + li,
.node .results li:last-child {
	border-style: solid;
}
.node .results li .label {
	float: left;
	padding-top: 6px;
}
.node .results li .count {
	float: right;
	padding-right: 3px;
	font-size: 23px;
	color: #00c0f0;
	width: 80px;
	text-align: right;
}
.node .results .total {
	font-weight: bold;
	text-transform: uppercase;
	cursor: default;
}
.node .results .total .label {
	color: #00c0f0;
}
circle,
path {
	fill: #000;
	fill-opacity: 0.1;
	stroke: #00c0f0;
	cursor: pointer;
}
circle.hover,
circle:hover,
path.hover,
path:hover {
	stroke: #fff;
	fill: #fff;
}
body text {
	fill: #00c0f0;
}
body text.hover {
	fill: #d7f9ff;
}

.label {
	fill: #000;
	fill-opacity: 0.8;
	stroke-width: 2;
}
.rect {
	cursor: pointer;
}
.grid {
	stroke-opacity: 0.4;
	stroke-width: 1;
}
.grid:hover {
	fill: #000;
	stroke: #00c0f0;
}
.text.left tspan {
	text-anchor: end;
}
.text tspan {
	font: normal normal normal 16px/1.5 'Nobile','Helvetica Neue',Helvetica,Arial,'Liberation Sans',FreeSans,sans-serif;
}
.line {
	fill-opacity: 0;
	stroke-width: 4;
	stroke-linejoin: round;
}
.dot {
	fill: #000;
	stroke: #6868FF;
	stroke-width: 2;
}
.dot.hover {
	stroke: #d7f9ff;
	stroke-width: 10;
}
.filter {
	stroke: #DF003F;
	stroke-width: 2;
}


.results.small {
	font-size: 13px;
	float: left;
	margin-left: 65px;
}
.results.small li {
	height: 29px;
}
.results.small li .label {
	padding-top: 3px;
}
.results.small li .count {
	font-size: 16px;
	width: 60px;
}


#stundensatz,
#wo {
	width: 960px;
	padding: 40px 1px 40px 0;
}
#stundensatz .results {
	width: 600px;
}
#wo > svg {
	float: right;
	margin-top: 30px;
}
#wo h3 {
	padding-bottom:42px;
}
#alter {
	padding-bottom: 128px;
}
#arbeitsbereich {
	position: absolute;
	top: 1265px;
}

@media screen and (max-width: 1457px) {
	#arbeitsbereich {
		left: 481px;
	}
	#alter {
		padding-bottom: 201px;
	}
}

#geschlecht {}
#wie {}
#zeit {}
#stundensatz {}
#kunden {}

/* animation */
#stage,
.filter_list dd:hover,
footer .footnote,
.nodes,
.add,
.node,
.node .results li,
footer a,
path,
.dot,
text {
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.filter_list dd,
path:hover,
path.hover,
.node .results li:hover,
.node .results li.hover {
	-webkit-transition-duration: 0.1s;
	-moz-transition-duration: 0.1s;
	-o-transition-duration: 0.1s;
	transition-duration: 0.1s;
}
